langchain
langchain-core
langchain-community

langchain-openai
openai

langchain-anthropic

langchain-google-genai
google-generativeai

langchain-huggingface
huggingface-hub

transformers
torch

langchain-aws
boto3

python-dotenv

numpy
pandas
scikit-learn

sentence-transformers
grandalf


